& {
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  width: 100vw;
  // height: px(1138);
  height: 100%;
  background: url('../images/hackaton2017.github.io/PhonePortrait.png') no-repeat 0%,
  linear-gradient(to top, black 0, #ff6a3a 100%);
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
